<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xslife.LocalChurch"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

	<uses-permission android:name="android.permission.INTERNET"/>  <!-- 必不可少，否则应用无法访问互联网，AVD会出现白地图  -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	<!--     The following two permissions are not required to use Google Maps Android API v2, but are recommended. -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="org.xslife.LocalChurch.permission.MAPS_RECEIVE" />  <!-- XXX.permission.MAPS_RECEIVE -->
    <permission
        android:name="org.xslife.LocalChurch.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>

	<uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <uses-library android:name="com.google.android.maps" />
        
        <activity
            android:name="org.xslife.LocalChurch.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="org.xslife.LocalChurch.AMap" > </activity>        
        <service android:name="org.xslife.LocalChurch.download.DownloadService" />
		<meta-data
    		android:name="com.google.android.gms.version"
    		android:value="@integer/google_play_services_version" />
    	<meta-data
    		android:name="com.google.android.maps.v2.API_KEY"
    		android:value="AIzaSyAXYYjDM2O8gMw2qOC-MQXAHo4ZLesVnx4"/>    
    </application>
</manifest>
